.navbar {
  position: fixed;

  top: 0;
  left: 0;
  right: 0;

  height: 76px;

  display: flex;

  justify-content: center;

  align-items: center;

  background: rgba(10, 13, 15, 0.85);

  backdrop-filter: blur(12px);

  border-bottom: 1px solid var(--border-dim);

  z-index: 100;
}

/* WHOLE CENTER GROUP */

.nav-center {
  display: flex;

  align-items: center;

  gap: 3rem;
}

/* BRAND */

.nav-brand {
  display: flex;

  flex-direction: column;

  align-items: center;

  line-height: 1.1;
}

.nav-logo {
  color: var(--cyan);

  text-decoration: none;

  font-family: var(--mono);

  font-size: 16px;

  font-weight: 700;
}

.nav-subtitle {
  color: var(--text-muted);

  font-size: 10px;

  white-space: nowrap;

  margin-top: 3px;
}

/* LINKS */

.nav-links {
  display: flex;

  gap: 2rem;

  list-style: none;

  padding: 0;

  margin: 0;
}

.nav-links a {
  color: var(--text-muted);

  text-decoration: none;

  font-size: 13px;

  font-family: var(--mono);

  transition: 0.25s;
}

.nav-links a:hover {
  color: var(--cyan);
}

/* ICONS */

.nav-icons {
  display: flex;

  gap: 1rem;
}

.nav-icons a {
  color: var(--text-muted);

  font-size: 1.5rem;

  transition: 0.25s;
}

.nav-icons a:hover {
  color: var(--cyan);

  transform: translateY(-2px);
}

/* MOBILE */

@media (max-width: 900px) {
  .nav-links {
    display: none;
  }

  .nav-subtitle {
    display: none;
  }

  .nav-center {
    gap: 1.5rem;
  }
}
